<%= form_for @comment, url: post_comments_path do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h6>Name*</h6>
    <%= f.text_field :name %>
  </div>
  </br>
  <div class="field">
    <h6>Email*</h6>
    <%= f.text_field :email %>
  </div>
  </br>
  <div class="field">
    <h6>Website (optional)</h6>
    <%= f.text_field :website %>
  </div>
  </br>
  <div class="field">
    <h6>Comment*</h6>
    <%= f.text_area :body %>
  </div>
  </br>
  <div class="actions">
    <%= f.submit 'Submit Comment', class: 'btn btn-default btn-lg pretty-button' %>
  </div>
  </br>
<% end %>
