<div class="info-box">
  <h1 class="center">Hey there! I'm Dalton Boll</h1>
  <h5 class="center">{Student - - Web Developer - - Software Engineer - - Aspiring Entrepreneur}</h5>
  <hr/>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 center">
        <%= image_tag("me.png", id: "personal-photo") %>
        <p>Testing again</p>
        <%= image_tag("me.png") %>
      </div>

      <div class="col-md-7">
        <p><strong>Life can get boring sometimes.</strong> Every day can seem like just another day, but why not have some fun with it? I see each day as an electrifying chance to do something amazing. If I had to write my life on paper, I'd bundle these chances into a series of exciting adventures.</p>

        <p>My current big adventure takes place at the beautiful University of California, Berkeley, where I'm studying Computer Science. Every day is like a dream, and I don't want to wake up!</p>

        <p>Want to be a part of my adventure? <%= link_to "Get in touch with me", contact_path %> and let's do something incredible together!</p>
        <div class="social-links center social-button">
        <% @social_buttons.each do |social_button| %>
          <a href="<%= social_button.link %>" target=_blank>
            <span class="fa-stack fa-3x">
              <i class="fa fa-circle fa-stack-2x <%= social_button.custom_class %>"></i>
              <i class="fa <%= social_button.font_awesome_class %> fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<hr/>
<div class="container-fluid center">
  <h2>My story</h2>
  <div class="padded-content">
    <h5>Hometown</h5>
    <p>I grew up in a tiny town in Wisconsin called New Glarus (it's officially called a <em>"village"</em> because it's so small). New Glarus is also widely known as <a href="http://swisstown.com/" target=_blank>America's Little Switzerland</a>! I've been surrounded by good cheese, beer, yodeling, "fests" and <a href="https://www.youtube.com/watch?v=MgQbsQX2t0g" target=_blank>funny accents</a> my whole life. More importantly, I've been surrounded by a loving community that continues to push me to be the best man that I can be.</p>
    <br>

    <h5>Where I am now</h5>
    <p>In the Fall of 2012, I left good ol' Wisconsin behind and moved out to the beautiful bay area of California for college. I've been working toward earning a degree in Computer Science at UC Berkeley ever since. Berkeley is extremely different from New Glarus, but I love it. The atmosphere is so eclectic, and there are always so many crazy things going on - it's hard to keep up! Oh, and did I mention the <a href="http://asuc.org/wiki/w/images/9/97/UC-Berkeley.jpg" target=_blank>view</a>? Seriously, it's <a href="http://i.imgur.com/Wr27gUo.jpg" target=_blank>breathtaking</a>.</p>
    <br>

    <h5>Hobbies</h5>
    <p>Coding has been a passion of mine since the early years of high school. I built my first website and started my own online business when I was 16 (okay, it didn't pan out, but let's just say it fueled my entrepreneurial fire and made me fall in love with web development). I like to keep busy by working on some side projects outside of the classroom, and you can read more about those <%= link_to "here", projects_path %>.</p>

    <p>Oh, and if you haven't already figured it out, I <strong><em>love</em></strong> adventures. Whether it's hiking up in the hills or trying out a new restaurant or just taking a different route to campus, I like to keep things interesting!</p>
    <br>

    <h5>Goals</h5>
    <ul>
      <li>Graduating [with a decent GPA]</li>
      <li>Being a part of a project that'll have a positive impact on people's lives - whether it's through a startup or an established tech company</li>
      <li>Ending the technology intimidation factor (<%= link_to "what's this?", projects_path %>)</li>
      <li>Becoming an official <a href="https://www.cdr.wisc.edu/mastercheesemaker/about" target=_blank>Wisconsin Master Cheesemaker</a> would be pretty nifty, even though it'd take longer than becoming a doctor</li>
    </ul>
  </div>
</div>

<hr/>
<div class="container-fluid center">
  <h2>Why daltonboll.com?</h2>
  <div class="padded-content">
    <p>I built this site to provide a platform for the world to see my <%= link_to "ideas", blog_path %>, <%= link_to "projects", projects_path %>, and adventures. I'm also hopeful that it'll allow me to connect with some really creative and inspiring people!</p>

    <p>I used Ruby on Rails and the Bootstrap framework to build daltonboll.com. It was my first time using Rails for a real project, and I'm still learning a lot! The site is still under construction as I aim to add more content, features, and improve the responsiveness of the mobile version. All of the code for this website can be found on <a href="https://github.com/daltonboll/daltonboll.com" target=_blank>GitHub</a>.</p>
    <br>
  </div>
</div>