<p id="notice"><%= notice %></p>

<h1>All Posts</h1>
<hr/>
<div class="container-fluid">
  <div class="padded-content">
    <% @posts.each do |post| %>
      <h2 class="left-align"><%= link_to post.title, post %></h2>
      <p><%= simple_format(post.body) %></p>
      <div>
        <%= link_to 'Read More...', post, class: "btn btn-default btn-lg pretty-button"%>
      </div>
      </br>
      <hr/>
      </br>
    <% end %>

    <br>

    <%= link_to 'New Post', new_post_path %>
  </div>
</div>